.bgSection {
  background: #014e56 url(/src/imgs/bg-pattern-home-1.svg) no-repeat center left -100px;
  padding: 170px 0;
  position: relative;
}

.bgSection::before {
  content: "";
  background: url(/src/imgs/bg-pattern-home-2.svg) no-repeat bottom right 165px;
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
}
