@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .fontBody-1 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 28px;
  }

  .fontBody-2 {
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 25px;
  }

  .fontH1{
    font-size: 6.25rem;
    font-weight: 700;
    line-height: 100px;
  }

  .fontH2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 48px;
  }

  .bg-section-footerImg {
    background: #f67e7e url("./imgs/bg-pattern-home-6-about-5.svg") no-repeat
      bottom left;
  }

  .w-625{
    width: 625px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Livvic", "sans-serif";
}

img {
  max-width: 100%;
  display: block;
}

ul li a.active{
  color: #f67e7e;
}
